* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  /* background-color: rgb(51, 51, 51);
  /* background-color: rgb(71, 73, 76); */
  /* background-color: rgb(78, 121, 174); */
  /* background-color: rgb(18, 17, 17);
  back */
  background-color: black;
  /* background: url('../../assets/classic3.png');
  background-repeat: no-repeat;
  background-size: cover; */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}


.navbar a {
  font-size: 0.7em;
}

.item-special {
  font-size: 3em;
  /* width: 100px; */
}

.item-special span {
  font-size: 2em;
  /* width: 100px; */
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.nav-item {
  height: 50px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-logo {
  /* color: #fff; */
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.nav-item {
  height: 50px;
  border-bottom: 2px solid transparent;
}

/* .nav-links:hover {
  border-bottom: 2px solid #09bef0;
  color: white;
} */

.nav-item:hover {
  /* color: red; */
}

.nav-links {
  /* color: #fff; */
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links {
  /* color: green; */
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.activated {
  color: #1879cf;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}


.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: green;
}

.darker span {
  color: black;
}

.lighter {
  color: white;
}

.green {
  color: green;
}

.dark-color {
  /* color: rgb(47, 135, 164); */
  color: black;
  font-size: 1em;
}

.dark-color p {
  /* color: rgb(47, 135, 164); */
  color: black;

}

.dark-color span {
  /* color: rgb(47, 135, 164); */
  color: black;

}

.green:hover {
  color: green;
}

.dark-color:hover {
  /* color: rgb(47, 135, 164); */
  color: black;

}

.dark-color a {
  /* color: rgb(47, 135, 164); */
  color: black;

}

.dark-color .activated {
  color: #1879cf;
}

.dark-color a:hover {
  color: #1879cf;
  transform: scale(1.2);
}

.nav-flexo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.spec {
  font-size: 1.5em;
}

.spec p {
  font-size: 1.2em;
  text-align: center;
  /* margin-left: 20px; */
  margin-bottom: 5px;
  cursor: pointer;
}

.spec p:hover {
  /* transform: scale(1.2); */
}

.white-color .show {
  background-color: black;
  width: 50px !important;
  padding: 0;
  margin: 0;
}

.dark-color .show {
  background-color: white;
  width: 50px !important;
  padding: 0;
  margin: 0;
}

.spec .drop {
  padding: 0;
  margin: 0;
  width: 50px;
  border: none;
}


/* white-color */



.white-color {
  color: white;
  background-color: black;
}

.white-color p {
  color: white;

}

.white-color span {
  color: white;

}

.white-color a {
  color: white;
}

.white-color .activated {
  color: #1879cf;
}

.white-color a:hover {
  color: #1879cf;
  transform: scale(1.2);
}

.white-color p:hover {
  background-color: black;
  transform: scale(1);
  color: #1879cf;
}

.dark-color p:hover {
  background-color: white;
  transform: scale(1);
  color: #1879cf;
}

.spec .show {
  width: 50px;
  border: none;
}

.dropdown {
  height: 50px;
  margin-top: -35px;
  margin-bottom: 5px;
}

.nav-links {
  /* margin-top: -15px; */
}

.nav-item {
  height: 40px;
  margin-top: -10px;
}

@media only screen and (max-width: 1200px) {
  .navbar a {
    font-size: 0.4em;
  }
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .dark-color .nav-links {
    color: #fff;
  }

  .spec {
    margin-left: 50px;
    margin-top: 20px;
    transform: scale(1);
    /* margin: 0; */
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    align-items: center;
  }

  .nav-menu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
    padding-bottom: 30px;
    margin-top: 0;
    /* margin-left: -5px; */
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: #1879cf;
    transform: scale(1.2);
    transition: all 0.3s ease;
    border-bottom: none;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    color: red;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    color: red;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 30%);
    font-size: 1.8rem;
    cursor: pointer;
    /* border: 2px solid red; */
  }

  .dropdown {
    font-size: 1.7em;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 120px;
  }

  .nav-flexo img {
    margin-top: -15px;
  }

  .dropdown .drop {
    font-size: 1.2em;
  }

  .menu-icon {
    margin-top: -7px;
    translate: -5px;
  }
}